@model Globe_Wander_Final.Models.DTOs.RegisterUserDTO

<!-- Register Starts -->
<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="login-content">
                    <h4>Create an Account</h4>
                    <form asp-action="Register" method="post">
                        <div class="form-group">
                            <input asp-for="UserName" class="form-control" id="username" placeholder="Enter username">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" id="email" placeholder="Enter email address">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="PhoneNumber" class="form-control" id="phonenumber" placeholder="Enter phone number">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Enter password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="ConfirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password">
                        </div>
                        <div class="form-btn mar-bottom-20">
                            <button type="submit" class="biz-btn biz-btn1">SIGN UP</button>
                        </div>
                    </form>
                    <ul class="social-links">
                        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Register Ends -->
