@* <!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>
<!-- Preloader Ends --> *@
<!-- login Starts -->
@model Globe_Wander_Final.Models.DTOs.RegisterUserDTO;



<div class="form-container">
    <h2 style="text-align:center;">Create an Account</h2>
    <form method="post" asp-action="Register">

            <label asp-for="UserName"></label>
            <input type="text" asp-for="UserName" class="form-control" placeholder="Enter username">
        
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" class="form-control" placeholder="Enter email address">
        
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Enter password">
        
            <label asp-for="PhoneNumber"></label>
            <input type="number" asp-for="PhoneNumber" class="form-control" placeholder="Phone Number">
        
            <input type="hidden" asp-for="Roles">
        
        <div style="padding:20px;justify-content:center; margin-left:80px;">
            <input style="background-color:#ef2853;" type="submit" class="biz-btn biz-btn1 mar-bottom-20" value="Sign Up" />
        </div>
    </form>
    
</div>
<div class="space"></div>
