@page
@model Globe_Wander_Final.Pages.DashboardModel
@{
}

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>
<div id="container-wrapper">
    <!-- Dashboard -->
    <div id="dashboard">
        <partial name="_Navigation"></partial>

        <!-- Responsive Navigation Trigger -->
        <!-- Content / Start -->
        <div class="dashboard-content">
            <div class="row">

                <!-- Item -->
                <div class="col-lg-3 col-md-6 col-xs-6">
                    <div class="dashboard-stat color-1">
                        <div class="dashboard-stat-content"><h4>
                            @Model.ToursCount
                            </h4> <span>Active Tours Spots</span></div>
                        <div class="dashboard-stat-icon"><i class="im im-icon-Map2"></i></div>
                        <div class="dashboard-stat-item"><p>Someone Crossed your Tours!</p></div>
                    </div>
                </div>

                <!-- Item -->
                <div class="col-lg-3 col-md-6 col-xs-6">
                    <div class="dashboard-stat color-2">
                        <div class="dashboard-stat-content"><h4>@Model.BookingsCount</h4> <span>Total Bookings</span></div>
                        <div class="dashboard-stat-icon"><i class="im im-icon-Line-Chart"></i></div>
                        <div class="dashboard-stat-item"><p>Someone Booked your listing!</p></div>
                    </div>
                </div>


                <!-- Item -->
                <div class="col-lg-3 col-md-6 col-xs-6">
                    <div class="dashboard-stat color-3">
                        <div class="dashboard-stat-content"><h4>@Model.RateCount</h4> <span>Total Reviews</span></div>
                        <div class="dashboard-stat-icon"><i class="im im-icon-Add-UserStar"></i></div>
                        <div class="dashboard-stat-item"><p>Someone Viewed your listing!</p></div>
                    </div>
                </div>

                @* Lookig for smething to put it here  *@
                <div class="col-lg-3 col-md-6 col-xs-6">
                    <div class="dashboard-stat color-4">
                        <div class="dashboard-stat-content"><h4>@Model.HotelCount</h4> <span>Total Hotesl</span></div>
                        <div class="dashboard-stat-icon"><i class="im im-icon-Heart"></i></div>
                        <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="dashboard-list-box mar-bottom-30">
                        <h4 class="gray">Recent Bookings</h4>
                        <div class="table-box" style="height:400px !important;  overflow-y:auto !important;">
                            <table class="basic-table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Booking ID</th>
                                        <th>Destination</th>
                                        <th>No of Tickets</th>
                                        <th>Type</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01/01/2017</td>
                                        <td class="t-id">C001</td>
                                        <td>Dubai</td>
                                        <td>5</td>
                                        <td>Hotel</td>
                                        <td>$300.00</td>
                                    </tr>
                                    <tr>
                                        <td>01/01/2017</td>
                                        <td class="t-id">C001</td>
                                        <td>Dubai</td>
                                        <td>5</td>
                                        <td>Hotel</td>
                                        <td>$300.00</td>
                                    </tr>
                                    <tr>
                                        <td>01/01/2017</td>
                                        <td class="t-id">C001</td>
                                        <td>Dubai</td>
                                        <td>5</td>
                                        <td>Hotel</td>
                                        <td>$300.00</td>
                                    </tr>
                                    <tr>
                                        <td>01/01/2017</td>
                                        <td class="t-id">C001</td>
                                        <td>Dubai</td>
                                        <td>5</td>
                                        <td>Hotel</td>
                                        <td>$300.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Recent Activity -->
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="dashboard-list-box margin-top-20 user-list" style="height:400px; overflow-y:auto;">
                        <h4 class="gray">Users List</h4>
                        <ul>
                            <li>
                                <div class="user-list-item">
                                    <div class="user-list-image">
                                        <img src="images/comment.jpg" alt="">
                                    </div>
                                    <div class="user-list-content">
                                        <h4>Loural Teak</h4>
                                        <span>Post Manager</span>
                                    </div>
                                    <div class="user-btns">
                                        <a href="#" class="button">View</a>
                                        <a href="#" class="button">Edit</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-list-item">
                                    <div class="user-list-image">
                                        <img src="images/comment.jpg" alt="">
                                    </div>
                                    <div class="user-list-content">
                                        <h4>Jim Gordon</h4>
                                        <span>Post Manager</span>
                                    </div>
                                    <div class="user-btns">
                                        <a href="#" class="button">View</a>
                                        <a href="#" class="button">Edit</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-list-item">
                                    <div class="user-list-image">
                                        <img src="images/comment.jpg" alt="">
                                    </div>
                                    <div class="user-list-content">
                                        <h4>Loural Teak</h4>
                                        <span>Post Manager</span>
                                    </div>
                                    <div class="user-btns">
                                        <a href="#" class="button">View</a>
                                        <a href="#" class="button">Edit</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-list-item">
                                    <div class="user-list-image">
                                        <img src="images/comment.jpg" alt="">
                                    </div>
                                    <div class="user-list-content">
                                        <h4>Loural Teak</h4>
                                        <span>Post Manager</span>
                                    </div>
                                    <div class="user-btns">
                                        <a href="#" class="button">View</a>
                                        <a href="#" class="button">Edit</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-list-item">
                                    <div class="user-list-image">
                                        <img src="images/comment.jpg" alt="">
                                    </div>
                                    <div class="user-list-content">
                                        <h4>Loural Teak</h4>
                                        <span>Post Manager</span>
                                    </div>
                                    <div class="user-btns">
                                        <a href="#" class="button">View</a>
                                        <a href="#" class="button">Edit</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-list-item">
                                    <div class="user-list-image">
                                        <img src="images/comment.jpg" alt="">
                                    </div>
                                    <div class="user-list-content">
                                        <h4>Loural Teak</h4>
                                        <span>Post Manager</span>
                                    </div>
                                    <div class="user-btns">
                                        <a href="#" class="button">View</a>
                                        <a href="#" class="button">Edit</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-list-item">
                                    <div class="user-list-image">
                                        <img src="images/comment.jpg" alt="">
                                    </div>
                                    <div class="user-list-content">
                                        <h4>Loural Teak</h4>
                                        <span>Post Manager</span>
                                    </div>
                                    <div class="user-btns">
                                        <a href="#" class="button">View</a>
                                        <a href="#" class="button">Edit</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- Content / End -->

    </div>
    <!-- Dashboard / End -->
</div>
