<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nepayatri - Tour & Travel Multipurpose Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--Default CSS-->
    <link href="css/default.css" rel="stylesheet" type="text/css">
    <!--Custom CSS-->
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!--Color Switcher CSS-->
    <link rel="stylesheet" href="css/color/color-default.css">
    <!--Plugin CSS-->
    <link href="css/plugin.css" rel="stylesheet" type="text/css">
    <!--Flaticons CSS-->
    <link href="fonts/flaticon.css" rel="stylesheet" type="text/css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Preloader Ends -->
    
    <!-- Breadcrumb -->
    <section class="banner ver-banner">
        <div class="slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            <div class="slide-image" style="background-image:url(https://assets.traveltriangle.com/blog/wp-content/uploads/2020/02/Pappinisseri.jpg)"></div>
                            <div class="swiper-content">
                                <h1> About Us </h1>
                                
                                
                            </div>
                            <div class="overlay"></div>
                        </div>
                    </div>
                    
                </div>
               
            </div>
        </div>
        <div class="border-line" style="background-image: url();"></div>
    </section>
    <!-- BreadCrumb Ends -->

    <section class="about-us">
        <div class="container">
            <div class="section-title">
                <h2>We're truely dedicated to make your travel experiences as much simple and fun as possible</h2>
            </div>
            <div class="about-desc">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-story">
                            <h3>Our Story</h3>
                            <p class="mar-0"> 
Providing you with a modern, comfortable and connected tourism experience is one of our top priorities and that is why we are constantly trying to improve your experience with us.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-mission">
                            <h3>Our Mission</h3>
                            <p class="mar-0">We really appreciate and welcome any suggestions you might have for us, so feel free drop us line anytime.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
    <!-- attraction starts -->
    <section class="attraction">
        <div class="container">
            <div class="section-title">
                <h2>Top <span>Attraction</span></h2>
                <p>Grab top tickets with us now so you can relax and kick your feet up later.</p>
            </div>
            <div class="why-us-box">
                <div class="row attract-slider">
                    <div class="col-md-2">
                        <div class="attraction-inner text-center">
                            <div class="attraction-icon">
                                <a href="https://www.today.com/shop/40-must-see-places-take-your-kids-they-re-grown-t74481"><i class="fa fa-users"></i></a>
                            </div>
                            <div class="attraction-content">
                                <h5 class="mar-0"><a href="https://www.today.com/shop/40-must-see-places-take-your-kids-they-re-grown-t74481">Family Friendly</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="attraction-inner text-center">
                            <div class="attraction-icon">
                                <a href="https://www.visitsaudi.com/en/plan-your-trip?gclid=CjwKCAjw7c2pBhAZEiwA88pOFw6MtpJkh_iUBs6SMFf0yPZZ2eEKkflT96ji2hB1FDwINmBcCqzj9xoCVZ0QAvD_BwE&gclsrc=aw.ds"><i class="fa fa-walking"></i></a>
                            </div>
                            <div class="attraction-content">
                                <h5 class="mar-0"><a href="https://www.visitsaudi.com/en/plan-your-trip?gclid=CjwKCAjw7c2pBhAZEiwA88pOFw6MtpJkh_iUBs6SMFf0yPZZ2eEKkflT96ji2hB1FDwINmBcCqzj9xoCVZ0QAvD_BwE&gclsrc=aw.ds">Guide Tours</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="attraction-inner text-center">
                            <div class="attraction-icon">
                                <a href="https://waytotravelhome.com/?gclid=CjwKCAjw7c2pBhAZEiwA88pOF7zkVNtTtASmUNajmwXVkNMTP_4CAL16-m3iI702fF_hGMSTy7UEXBoCGfcQAvD_BwE"><i class="fa fa-hiking"></i></a>
                            </div>
                            <div class="attraction-content">
                                <h5 class="mar-0"><a href="https://waytotravelhome.com/?gclid=CjwKCAjw7c2pBhAZEiwA88pOF7zkVNtTtASmUNajmwXVkNMTP_4CAL16-m3iI702fF_hGMSTy7UEXBoCGfcQAvD_BwE">Self Guides</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="attraction-inner text-center">
                            <div class="attraction-icon">
                                <a href="https://www.visitsaudi.com/en/plan-your-trip?gclid=CjwKCAjw7c2pBhAZEiwA88pOF3niTrX5hT6CQjvloxp7gOE7tmkjneGzQI8SX2oDhwZIzstlambZ6hoCbMQQAvD_BwE&gclsrc=aw.ds"><i class="fa fa-eye"></i></a>
                            </div>
                            <div class="attraction-content">
                                <h5 class="mar-0"><a href="https://www.visitsaudi.com/en/plan-your-trip?gclid=CjwKCAjw7c2pBhAZEiwA88pOF3niTrX5hT6CQjvloxp7gOE7tmkjneGzQI8SX2oDhwZIzstlambZ6hoCbMQQAvD_BwE&gclsrc=aw.ds">Sight Seeing</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="attraction-inner text-center">
                            <div class="attraction-icon">
                                <a href="#"><i class="fa fa-air-freshener"></i></a>
                            </div>
                            <div class="attraction-content">
                                <h5 class="mar-0"><a href="#">Special Tours</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="attraction-inner text-center">
                            <div class="attraction-icon">
                                <a href="#"><i class="fa fa-map"></i></a>
                            </div>
                            <div class="attraction-content">
                                <h5 class="mar-0"><a href="#">Theme Tour</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="attraction-inner text-center">
                            <div class="attraction-icon">
                                <a href="#"><i class="fa fa-map-signs"></i></a>
                            </div>
                            <div class="attraction-content">
                                <h5 class="mar-0"><a href="#">Trending Spot</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
   
    <!-- Reviews starts-->
    <section class="customer-reviews">
        <div class="container">
            <div class="section-title">
                <h2>More Than 960+ People <span>Are Happy With Us.</span></h2>
                </div>
            <div class="row about-slider">
                <div class="col-md-4  review-item">
                    <div class="review-image">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/eSUmkFPln_U?si=6HCUBZusKx7FSr3z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                       
                    </div>
                  
                </div>
               
            </div>

        </div>
        <h3>Vision</h3>
        <div style="display:inline-block ; width:500px ">
            <p>Our vision is to ignite the spirit of exploration and discovery, connecting travelers to the world's wonders with seamless ease and comfort. We are dedicated to showcasing extraordinary tourist destinations and ensuring every journey is not just safe and effective but a life-enriching adventure.</p>
        </div>
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- End Reviews -->
    <!-- Top Featured -->
    <section class="travelcounter counter1">
        <div class="container">
            <div class="section-title">
                <h2 class="white">call our <span>agents</span> to book</h2>
                <p class="white">Travel award winning and top rated tour operator</p>
            </div>
            <div class="row service-gg">
                <div class="col-md-3">
                    <div class="counter-item">
                        <div class="counter-icon">
                            <i class="fas fa-hiking" aria-hidden="true"></i>
                        </div>
                        <div class="counter-content">
                            <h3 class="boats">80</h3>
                            <p class="mar-0">Pro Tour Guides</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="counter-item">
                        <div class="counter-icon">
                            <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                        </div>
                        <div class="counter-content">
                            <h3 class="location">19</h3>
                            <p class="mar-0">Tours are Completed</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counter-item">
                        <div class="counter-icon">
                            <i class="fa fa-walking" aria-hidden="true"></i>
                        </div>
                        <div class="counter-content">
                            <h3 class="showroom">10</h3>
                            <p class="mar-0">Traveling Experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="counter-item">
                        <div class="counter-icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="counter-content">
                            <h3 class="lisence">100</h3>
                            <p class="mar-0">Happy Customers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Top Featured -->
    <!-- tour agents starts -->
    <section class="tour-agent">
        <div class="container">
            <div class="section-title">
                <h2>Travel <span>Agents</span></h2>
                <p>Lorem Ipsum is simply dummy text the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
            <div class="agent-main">
                <div class="row">
                    <div class="col-md-3">
                        <div class="agent-list">
                            <div class="agent-image">
                                <img src="images/inbox5.jpg" alt="agent">
                                <div class="agent-content">
                                    <h3 class="white mar-bottom-5">Salmon Thuir</h3>
                                    <p class="white mar-0">Tourist Advisor</p>
                                </div>
                            </div>
                            <div class="agent-social">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="agent-list">
                            <div class="agent-image">
                                <img src="images/inbox6.jpg" alt="agent">
                                <div class="agent-content">
                                    <h3 class="white mar-bottom-5">Salmon Thuir</h3>
                                    <p class="white mar-0">Tourist Advisor</p>
                                </div>
                            </div>
                            <div class="agent-social">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="agent-list">
                            <div class="agent-image">
                                <img src="images/inbox7.jpg" alt="agent">
                                <div class="agent-content">
                                    <h3 class="white mar-bottom-5">Salmon Thuir</h3>
                                    <p class="white mar-0">Tourist Advisor</p>
                                </div>
                            </div>
                            <div class="agent-social">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="agent-list">
                            <div class="agent-image">
                                <img src="images/inbox8.jpg" alt="agent">
                                <div class="agent-content">
                                    <h3 class="white mar-bottom-5">Salmon Thuir</h3>
                                    <p class="white mar-0">Tourist Advisor</p>
                                </div>
                            </div>
                            <div class="agent-social">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- tour agents Ends -->
   
    <!-- Back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->
    <!-- search popup -->
    <div id="search1">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">
            <div class="login-content">
                <div class="login-title section-border">
                    <h3>Login</h3>
                </div>
                <div class="login-form section-border">
                    <form>
                        <div class="form-group">
                            <input type="email" placeholder="Enter email address">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Enter password">
                        </div>
                    </form>
                    <div class="form-btn">
                        <a href="#" class="biz-btn biz-btn1">LOGIN</a>
                    </div>
                    <div class="form-group form-checkbox">
                        <input type="checkbox"> Remember Me
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
                <div class="login-social section-border">
                    <p>or continue with</p>
                    <a href="#" class="btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                    <a href="#" class="btn-twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                </div>
                <div class="sign-up">
                    <p>Do not have an account?<a href="#">Sign Up</a></p>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    </div>

    <div class="modal fade" id="register" role="dialog">
        <div class="modal-dialog">
            <div class="login-content">
                <div class="login-title section-border">
                    <h3>Register</h3>
                </div>
                <div class="login-form section-border">
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password">
                        </div>
                    </form>
                    <div class="form-btn">
                        <a href="#" class="biz-btn biz-btn1">REGISTER</a>
                    </div>
                    <div class="form-group form-checkbox">
                        <input type="checkbox"> Remember Me
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
                <div class="login-social section-border">
                    <p>or continue with</p>
                    <a href="#" class="btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                    <a href="#" class="btn-twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                </div>
                <div class="sign-up">
                    <p>Do not have an account?<a href="#">Sign Up</a></p>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    </div>

    <!-- *Scripts* -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/color-switcher.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/custom-nav.js"></script>

</body>
</html>