@model List<Globe_Wander_Final.Models.DTOs.TourSpotDTO>




    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Preloader Ends -->
    <!-- header starts -->
    <!-- header ends -->
    <!-- Breadcrumb -->
 
    <!-- BreadCrumb Ends -->
    <!-- tour list starts -->
  

    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center" style="height:40vh !important">
        <div class="container">
            <div class="breadcrumb-content">
                <h2 class="white">Tours Spots</h2>
                <nav aria-label="breadcrumb">
                   
                </nav>
            </div>
        </div>
        <div class="overlay">
            <img src="https://c4.wallpaperflare.com/wallpaper/608/182/542/amman-jordan-classic-nice-wallpaper-preview.jpg" width="100%" />
        </div>
    </section>
       
    <!-- BreadCrumb Ends -->
    <!-- Gallery starts -->
    <section class="content gallery" data-ref="container-1">
        <div class="container">
            <div class="section-title">
                <h3 style="margin-top:25px"> <span>Jordan is home to a wealth of remarkable tour spots, each offering a unique blend of history, culture, and natural beauty. Here are some noteworthy tour spots in Jordan</span> </h3>

            </div>
            <div class="row mar-top-50">
                @foreach(var tour in Model){
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="gallery-item">
                        <div class="gallery-image">
                                <img src="@tour.Img" alt="image" width="415" height="293">
                        </div>
                        <div class="gallery-content">
                                    <ul>
                                <li><a href="images/gallery/gallery1.jpg" data-lightbox="gallery" data-title="@tour.Name"><i class="fa fa-eye"></i></a></li>
                                    <li>
                                        <a asp-action="GetSpotById" asp-controller="TourSpots" asp-route-spotId="@tour.ID"><i class="fa fa-link"></i>   </a>  
                                    </li>
                                    <br>
                            </ul>
                            @if(tour.ID %2 == 0){
                                    <div class="ribbon ribbon-top-left"><span>25% OFF</span></div>
                                }
                                else
                                {
                                    <div class="ribbon ribbon-top-left"><span>15% OFF</span></div>
                                }

                                
                                    }
                                <h4 style="color:wheat; text-align:center;" class="text-center">@tour.Name</h4>
                        </div>
                    </div>
                </div>
               }

            </div>
        </div>
    </section>

    <!-- tour list ends -->

  
    <!-- Back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->
    <!-- search popup -->
    <div id="search1">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">
            <div class="login-content">
                <div class="login-title section-border">
                    <h3>Login</h3>
                </div>
                <div class="login-form section-border">
                    <form>
                        <div class="form-group">
                            <input type="email" placeholder="Enter email address">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Enter password">
                        </div>
                    </form>
                    <div class="form-btn">
                        <a href="#" class="biz-btn biz-btn1">LOGIN</a>
                    </div>
                    <div class="form-group form-checkbox">
                        <input type="checkbox"> Remember Me
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
                <div class="login-social section-border">
                    <p>or continue with</p>
                    <a href="#" class="btn-facebook"><i class="fab fa-facebook" aria-hidden="true"></i> Facebook</a>
                    <a href="#" class="btn-twitter"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>
                </div>
                <div class="sign-up">
                    <p>Do not have an account?<a href="#">Sign Up</a></p>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    </div>

    <div class="modal fade" id="register" role="dialog">
        <div class="modal-dialog">
            <div class="login-content">
                <div class="login-title section-border">
                    <h3>Register</h3>
                </div>
                <div class="login-form section-border">
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password">
                        </div>
                    </form>
                    <div class="form-btn">
                        <a href="#" class="biz-btn biz-btn1">REGISTER</a>
                    </div>
                    <div class="form-group form-checkbox">
                        <input type="checkbox"> Remember Me
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
                <div class="login-social section-border">
                    <p>or continue with</p>
                    <a href="#" class="btn-facebook"><i class="fab fa-facebook" aria-hidden="true"></i> Facebook</a>
                    <a href="#" class="btn-twitter"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>
                </div>
                <div class="sign-up">
                    <p>Do not have an account?<a href="#">Sign Up</a></p>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
    </div>

    <!-- *Scripts* -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/color-switcher.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/custom-nav.js"></script>


