@model Globe_Wander_Final.Models.DTOs.BookingRoomDTO


    <!-- Breadcrumb -->
<section class="breadcrumb-outer text-center" style="height:40vh !important">
        <div class="container">
            <div class="breadcrumb-content">
                <h2 class="white">Hotel Booking</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hotel Booking</li>
                    </ul>
                </nav>
            </div>
        </div>

    <img class="overlay" src="https://globewanderimages.blob.core.windows.net/globe-wander-images/SLIDER4.png" alt="image" />
    </section>
    <!-- BreadCrumb Ends -->
    <!-- booking starts -->
    <section class="booking">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="price-tabmain">
                       

                        <div class="tab-content">
                            <div id="customer">
                                <div class="booking-box">
                                    <div class="customer-information">
                                    <h3 style="color:lightgreen">Your Booking  Was Successful</h3>
                         
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                             
                                                  
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-btn">
                                                <p>Dear @User.Identity.Name,</p>
                                                <p>We are pleased to inform you that your recent request to Create booking on our platform has been successfully processed. The payment for the  days has been completed without any issues, and your booking has been Created as per your request.</p>
                                                <p>We would like to take this opportunity to thank you for choosing our services. Your trust and confidence in us are greatly appreciated.</p>
                                                <p>If you have any further requests or need assistance, please do not hesitate to visit our website or contact our customer service team.</p>
                                                <p>Thank you once again for working with us. We look forward to serving you in the future.</p>
                                                <p>Best regards,<br>Globe Wander</p>
                                                    </div>
                                                </div>
                                        <div class="col-md-12">
                                            <div class="form-btn">
                                                <p>Booking info:</p>
                                                <p> Check-In :@Model.CheckIn</p>
                                                <p>Check-Out :@Model.CheckOut</p>
                                                <p> Duration :@Model.Duration</p>
                                                <p>TotalPrice :@Model.TotalPrice $</p>
                                                <p>All Amounts Paid </p>
                                            </div>
                                        </div>
                                            </div>
                                      
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>

           
            </div>
        </div>
    </section>
 