


    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center">
        <div class="container">
            <div class="breadcrumb-content">
                <h2 class="white">Hotel Booking</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hotel Booking</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->
    <!-- booking starts -->
    <section class="booking">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="price-tabmain">
                       

                        <div class="tab-content">
                            <div id="customer">
                                <div class="booking-box">
                                    <div class="customer-information">
                                        <h3>Let us know who you are</h3>
                         
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Failed Payment</label>
                                                  
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-btn">
                                                      <p>We are sorry to inform you that you pamyment has failed becuse ypou didnt complete the payment method and if you are making a new booking  it will not be copleted </p>
                                                    </div>
                                                </div>
                                            </div>
                                      
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>

           
            </div>
        </div>
    </section>
 