@model int
<!-- Breadcrumb -->
<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2 class="white">Trip Booking</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Trip Booking</li>
                </ul>
            </nav>
        </div>
    </div>
    <img style="object-fit:cover;" class="overlay" src="https://globewanderimages.blob.core.windows.net/globe-wander-images/pannertrip.jpg" alt="image" />
</section>
<!-- BreadCrumb Ends -->
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<!-- booking starts -->
<section class="booking">

    <div class="tab-content">
        <div class="tab-content centered-card">
            <!-- Add a class to the container -->
                        <div id="customer">
                <div class="booking-box" style="margin:60px;width:900px;">
                                <div class="customer-information">
                                    <h3 style="color:lightgreen">Your Booking Update Was Successful</h3>

                                   
                                        <div class="col-md-12">
                                            <div class="form-btn">
                                                <p>Dear @User.Identity.Name,</p>
                                                <p>Refund total= @Model $</p>
                                                <p>We are pleased to inform you that your recent request to update your booking on our platform has been successfully processed. The payment for the extra #no. persons will be refunded by the team in 7 working days, and your booking has been updated as per your request.</p>
                                                <p>We would like to take this opportunity to thank you for choosing our services. Your trust and confidence in us are greatly appreciated.</p>
                                                <p>If you have any further requests or need assistance, please do not hesitate to visit our website or contact our customer service team.</p>
                                                <p>Thank you once again for working with us. We look forward to serving you in the future.</p>
                                                <p>Best regards,<br>Globe Wander</p>
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
              
</section>
