@using Globe_Wander_Final.Models.Interfaces
@using Microsoft.AspNetCore.Identity;
@inject IUser _user
@inject UserManager<ApplicationUser> _userManager
@{
    var user = await _user.GetUser(User);
    var userRole = await _userManager.GetUserAsync(User);

}
<div class="content-right pull-right">
    <div class="profile-sec bg-dark">
        <div class="dash-content mx-2">
            <h4 class="text-white">@user.UserName</h4>
            @if (userRole != null)
            {
                var roles = await _userManager.GetRolesAsync(userRole);
                <span class="text-white">

                    @roles.FirstOrDefault().ToString()
                </span>
            }
        </div>
        <div class="dash-image" style="width:70px; height:70px; object-fit:cover;">
            @if (user.ImageUrl != null)
            {
                <img src="@user.ImageUrl" alt="@user.UserName" style="height:100%;">
            }

        </div>
    </div>
</div>